@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
              --White: hsl(0, 0%, 100%);
              --Light-gray: hsl(212, 45%, 89%);
              --Grayish-blue: hsl(220, 15%, 55%);
              --Dark-blue: hsl(218, 44%, 22%);
              --Font-size: 15px;
              --font-family: 'Outfit', sans-serif;

}
*
{
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              font-family: var(--font-family);
}
body
{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: calc(100vh - 1px);
              background-color: var(--Light-gray);
              font-size: var(--Font-size);
}
.container
{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              max-width: 350px;
              border-radius: 20px;
              padding: 20px;
              background-color: var(--White);
}
img{
              max-width: 100%;
              border-radius: 10px;


}
h2{
              text-align: center;
              margin: 20px;
              color: var(--Dark-blue);
}
.p{
              text-align: center;
              margin-bottom: 20px;
              color: var(--Grayish-blue);

}